*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
opl-android.iml
settings.gradle

